extends ../layout

block content
    div.container.blog
        div.content
            div.menu-header-row
                h1.menu-title=menu.title
                strong.emphasize #{menu.chef_id.first_name}
            img.blog-image(src=menu.image_url)
            p.article-body=menu.body