extends ../layout

block content
    include ../mixins/menuCard
    div.menu-header
        div.menu-header-title Here's What's New
        div
            if user && user.is('chef')
            a.button.primary(href='/menu/add') Write New Menu

    ul.menu-list
        each menu in menus
            li
                +menuCard(menu)